.card{
    width: 240px;    
    background-color: white;     
    box-shadow: 0px 0px 5px $lightgrey;  
    border-radius: 2%;
    margin-bottom: 23px;
}

.top{
    border-bottom: solid 1px $lightgrey;
}

.top img{  
  max-width: 100%;
}

.genre .icon{
    width: 13px;
    height: 13px;
    background-image: url(../../public/img/icons/location.svg);
    background-repeat: no-repeat;  
    float: left;
    position: relative;
    margin-right: 5px;      
}

.genre{
    margin-bottom: 18px;
}

.genre p{
    margin-left: 3px;
    margin-bottom: 0;   
}

.resume {
    padding: 15px;
}

.note .icon{
    width: 15px;
    height: 15px;
    background-image: url(../../public/img/icons/star.svg);
    background-repeat: no-repeat;  
    
    margin-right: 2px;   
}

.note .fb{
    width: 20px;
    height: 20px;
    background-image: url(../../public/img/icons/facebook.svg);
    background-size: 100%; 
    margin-right: 20px;
          
}

.note{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.rank {
    height: 20px;
    display: flex;
    align-items: center;
}