#menu .container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{
    width: 1030px;
    width: 100%;            
    display: flex;
}

#menu {    
    width: 1030px;
    margin-top: 40px;    
    margin-left: auto;
    margin-right: auto;   
    
}