.container-flex{
    display: flex;
}

#menu .container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{    
    width: 100%;            
    display: flex;
}

#menu {    
    width: 1030px;
    margin-top: 40px;    
    margin-left: auto;
    margin-right: auto;     
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row;  
}