header{
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 5px $lightgrey;
    h1 { display: none;}
    label { display : none; }
    display: flex;
}

header .container-flex{    
    width: 1030px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;    
}

.logo{
    margin-right: 80px;
}

.burger{
    width: 35px;
    height: 30px;
    background-image: url(../../public/img/icons/menu.png);   
    background-size: 150%;
    background-position: center;
    border: 1px solid $lightgrey;
    border-radius: 10%;
    margin-right: 40px;
}

textarea,input{
    height: 30px;
    background-color: rgb(248, 248, 248); 
}

textarea{
    width: 400px;
    height: 32px;
    resize: none;
    box-sizing: border-box;
    padding: 0%;
    position: relative;
    border: 1px solid $lightgrey;
    border-right: none;
    outline: none;
}

input{
    margin-left: 0;
    box-sizing: content-box;
    padding: 0;
    position: absolute;  
    border: 1px solid $lightgrey;
    border-left: none;
    background-image: url(../../public/img/icons/search.png);
    background-repeat: no-repeat;
    background-position: 8px;
    width: 34px;
    font-display: none;
    font-size: 0;
    
}

.search{    
    height: 30px;   
}

.user{
    margin-left: 110px;
    margin-right: 10px;
}

header p{
    margin-bottom: 0;
}

