.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;    
}

.loader img{
    width: 18px;
    margin-right: 10px;
}

.loader p{
    margin: 0;
}