@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import 'format.scss';
@import 'container.scss';
@import 'header.scss';
@import 'cards.scss';




